.App {
  width: 1010px;
  margin: 0 auto;
  background-color: #ffffff;
  height: 100%;
  padding: 21px 36px;
}

.searchInput {
  margin: 0 25px;
}

.paginationBlock {
  width: max-content;
  margin: 0 auto;
  margin-top: 35px;
}
