@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto&family=Roboto+Mono:wght@300&family=Zen+Dots&display=swap');

.Card {
  width: 451px;
  height: 279px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  font-family: 'Inter', sans-serif;
  position: relative;
}

.Card img {
  height: 100%;
  width: 183px;
  float: left;
  margin-right: 20px;
}

.filmTitle {
  max-width: 83%;
  font-size: 20px;
}

.filmTitleRating {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 0;
}

.filmTags {
  margin-top: 8px;
}

.filmAbout {
  margin-top: 8px;
  font-size: 12px;
}

.filmRate {
  position: absolute;
  bottom: 10px;
}

@media screen and (max-width: 480px) {
  .Card {
    width: 388px;
    height: 245px;
    padding: 10px;
    box-sizing: border-box;
  }
  .filmTitleRating {
    padding: 0;
  }
  .Card img {
    height: 40%;
    width: auto;
  }
  .filmRate {
    right: 10px;
  }
}
